.page__body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;

  @media (min-width: @tablet-width) {
    min-width: 660px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
  }
}
