.main-header {
  background-color: #1D2631;
  background-image: url("..//img/back-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 733px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}

