.main-header {
  background-color: #1d2631;
  color: #ffffff;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 733px;

  @media (min-width: @tablet-width) {
    min-height: 729px;
  }

  @media (min-width: @desktop-width) {
    min-height: 853px;
  }
}

.main-header__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  color: #ffffff;
}
