@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 660px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}
