.main-header {
  background-color: @deep-blue;
  color: @white;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 733px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
    min-height: 729px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    min-height: 853px;
  }
}

.main-header__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  color: @white;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.main-header__slogan {
  color: @white;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

