.contacts {
  min-height: 614px;

  @media (min-width: @tablet-width) {
    min-height: 779px;
  }

  @media (min-width: @desktop-width) {
    min-height: 867px;
  }
}

.contacts__slogan {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.contacts__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contacts__title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.contacts__link {
  color: @dark-red;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 33px;
}
