.achievements {
  color: @dark-blue;
  background-color: @light-grey;
  min-height: 604px;

  @media (min-width: @tablet-width) {
    order: 5;
    background-color: @white;
    min-height: 604px;
  }

  @media (min-width: @desktop-width) {
    min-height: 240px;
    grid-column: span 2;
  }
}

.achievements__catalog {
  border: none;
}

.achievements__description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-red;
}
