.apps-filter {
  background-color: @light-grey;

  @media (min-width: @tablet-width) {
    background-color: @white;
    order: 3;
  }
}

.apps-filter__group {
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @pale-gray;
    border-radius: 1px;
  }

  @media (min-width: @desktop-width) {
    width: 431px;
    margin: 0 auto;
  }
}

.apps-filter__title {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: @dark-red;
  text-transform: uppercase;
  text-align: center;
  padding: 0 33px;
}
