.registration-data {
  min-height: 289px;

  @media (min-width: @tablet-width) {
    order: 4;
    min-height: 289px;
  }

  @media (min-width: @desktop-width) {
    min-height: 310px;
    grid-column: span 2;
  }
}

.registration-data__label,
.registration-data__title {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: @dark-red;
}

.registration-data__input {
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.registration-data__group {
  border: none;
  display: flex;
  flex-direction: column;
}
