.registration__description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  background-color: #ffffff;
}

.registration__field {
  border: none;
}

.registration__label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.registration__surname,
.registration__name,
.registration__patronymic {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
