.photo-editor {
  background-color: @light-grey;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.photo-editor__container {
  display: flex;
  flex-direction: column;
}
